.checkout__container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: max-content;
  margin: 10px;
}

.checkout__left {
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout__right {
}
.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}
.subtotal > button {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}
.checkoutProduct {
  display: flex;
  margin: 20px 0;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 160px;
  height: 160px;
}
.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__title {
  font-size: 16px;
  font-weight: 800;
}
.checkoutProduct__price {
}
.checkoutProduct__rating > svg {
  color: #f0c14b;
  font-size: 18px;
}
.checkoutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}
